  <!-- Footer Start -->
<footer class="footer">
   <div class="container-fluid">
       <div class="footer-top">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-70 brand mb-20pt">
                        <img class="brand-icon" src="assets/images/logo_deshboard.png" width="70px" alt="lems_logo"> 
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quibusdam sed nihil recusandae vel debitis praesentium ut, quas, quod odio sunt. Animi quasi sed magnam fugiat numquam provident! Impedit, repudiandae.</p>
                    <p class="text-50 small mb-4 mt-n1 mb-0">© Copyright 2020 Lems, All Right Reserved</p>
                </div>
                <div class="col-md-4">
                    <div class="footter-right-top">
                         <h6>Contact Us</h6>
                         <p><span>Phone: </span><span>+91 987654321</span></p>
                         <p><span>Email: </span><span>lems.info@gmail.com</span></p>
                         <div class="mt-4 social-icon">
                             <a class="mr-3 pointer"><img src="assets/images/fb.png"></a>
                             <a class="mr-3 pointer"><img src="assets/images/twitter.png"></a>
                             <a class="mr-3 pointer"><img src="assets/images/instagram.png"></a>
                             <a class="mr-3 pointer"><img src="assets/images/linkedin.png"></a>
                         </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="footer-about">
                        <h6>About Us</h6>
                        <p class="text-50 small mr-8pt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quibusdam sed nihil recusandae vel debitis praesentium ut, quas, quod odio sunt. Animi quasi sed magnam fugiat numquam provident! Impedit, repudiandae.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt-4 text-center f-link">
                       <a class="pointer">Disclaimer &nbsp;| &nbsp;</a>
                       <a class="pointer">Privacy Policy&nbsp; | &nbsp;</a>
                       <a class="pointer">Terms of Services&nbsp; | &nbsp;</a>
                       <a class="pointer">Sitemap</a>
                    </div>
                </div>
            </div>
       </div>
   </div> 
</footer>
<!-- end Footer --> 