<div class="authentication-bg">
    <div class="account-pages py-5">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-9">
                  <div class="card1">
                      <div class="card-body p-0">
                          <div class="row">
                              <div class="col-md-6 loging-pd">
                                  <div class="mx-auto mb-4">
                                      <a routerLink="/">
                                          <img src="assets/images/icon/logo_login.svg"  class="b-r-4 img-100 img-fluid" alt="" height="" />
                                          <!-- <span class="logo-text">Lems Academy</span> -->
                                      </a> 
                                  </div> 
                                  <h6 class="h5 mb-0 mt-4">Forgot Password</h6>
                                  <p class="text-muted mt-1 mb-4">  Enter your email address and we'll send you an email with instructions to reset your password.</p>
                                  <form class="authentication-form" (ngSubmit)="onSubmit()" [formGroup]="forgotForm">
                                      <div class="form-group">
                                          <label class="form-control-label">Email Address</label>
                                          <div class="input-group input-group-merge">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"> 
                                                      <img src="assets/images/icon/mail.svg" width="20px" height="20px">
                                                  </span>
                                              </div>
                                              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter Email Address">
                                          </div>
                                          <show-errors [control]="forgotForm.get('email')"></show-errors>
                                      </div>
                                      <div class="form-group mt-4 mb-0 text-center">
                                            <button class="btn btn-block btn-filled form-btn">
                                                <span>Send Link</span>
                                            </button>
                                      </div>
                                  
                                  </form>
                              </div>
                              <div class="col-lg-6 d-none d-md-inline-block">
                                  <div class="auth-page-sidebar">
                                      <div class="overlay"></div>
                                  </div>
                              </div>
                            
                          </div> 
                      </div> <!-- end card-body -->
                  </div>
              </div> <!-- end col -->
              <div class="col-md-10">
                  <div class="mt-3 form-group mb-0 text-center">
                      <p class="mb-0"><span class="dont">Back To</span> <a class="white font-weight-bold ml-1" routerLink="/login">Login</a>
                      </p>
                  </div>
              </div>
          </div>
          <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
  
  
  


  