 
 <div class="left-side-menu">
    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="menu-parent sidebar sidebar-dark-dodger-blue sidebar-left" data-perfect-scrollbar>
    
                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/home/dashboard">
                            <span class="sidebar-menu-text">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/home/profile-view">
                            <span class="sidebar-menu-text">My Course</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="">
                            <span class="sidebar-menu-text">My Session
                                <span class="sidebar-menu-badge badge badge-accent badge-notifications ml-auto">New</span>
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="">
                            <span class="sidebar-menu-text">Calender</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item menu-child">
                        <a href="#" class="sidebar-menu-button" data-toggle="collapse">
                           My Test
                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                        </a>
                        <ul class="sidebar-submenu collapse sm-indent">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Content Library</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">How to attemp Test</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" data-toggle="collapse">
                           Study Material
                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                        </a>
                        <ul class="sidebar-submenu collapse sm-indent">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">NCERT Solution</span>
                                </a>
                                <ul>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button">
                                            <span class="sidebar-menu-text">12</span>
                                        </a>
                                    </li> 
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button">
                                            <span class="sidebar-menu-text">11</span>
                                        </a>
                                    </li> 
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button">
                                            <span class="sidebar-menu-text">10</span>
                                        </a>
                                    </li> 
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button">
                                            <span class="sidebar-menu-text">9</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button">
                                            <span class="sidebar-menu-text">8</span>
                                        </a>
                                    </li> 
                                </ul>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Year Paper</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Mock Test</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Sample Paper</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Reference Book Solution</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">ICSE Solution</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">School Solution</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">School Syllabus</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Revision Notes</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Important Questions</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Math Sheets</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" data-toggle="collapse">
                           Study Material
                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                        </a>
                        <ul class="sidebar-submenu collapse sm-indent">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button">
                                    <span class="sidebar-menu-text">Content Library</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button disabled" href="fixed-edit-product.html">
                                    <span class="sidebar-menu-text">How to attemp Test</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/home/dashboard">
                            <span class="sidebar-menu-text">Free Classes
                                <span class="sidebar-menu-badge badge badge-accent badge-notifications ml-auto">New</span>
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/home/dashboard">
                            <span class="sidebar-menu-text">My Report</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/home/dashboard">
                            <span class="sidebar-menu-text">Help</span>
                        </a>
                    </li>
                 </ul> 
            </div>
        </div> 
    </div> 
 </div> 
 

